@font-face {
  font-family: 'Craftwork Grotesk Bold';
  font-style: normal;
  font-weight: normal;
  src: local('../fonts/grotesk-cufonfonts/CraftworkGrotesk-Bold.woff');
}

@font-face {
  font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-weight: 400;
    src: local('../fonts/open-sans/OpenSans-Regular.ttf');
}