// Use this file to overwrite the basic Bootstrap variables and add your own variables
// To overwrite a Bootstrap variable you don´t have to touch the Bootstrap folder.
// Just copy a variable from src/sass/assets/bootstrap5/_variables.scss, paste it here and edit the value.




$light-blue: #8ECAE6;
$mid-blue: #219EBC;
$dark-blue: #023047;
$yellow: #FFB703;
$orange: #FB8500;

$primary: $light-blue;  // Once we've changed the value, we'll also make it the primary brand color.
$secondary: $dark-blue;

$font-family-base: 'Open Sans', sans-serif;
$headings-font-family: 'Craftwork Grotesk Bold';
